## Python for Data science Day 1

I'm starting to finally learn this tool, had enough of feeling like an idiot not knowing how to use something which feels like a lot of people know just based on the number of nods I see when someone mentions python. 

I'll just start, no fancy intro! I'll just absorb like my body does with unsaturated fats in those delicious rich punjabi dishes. Sorry wrong station.

Nonetheless, wanna learn just read this as is, eventually you will start getting a hang of it... I kinda promise...I mean depends on you afterall.

Prost!


## ----------------------------------------------------------------------------------------------------------------------------- ##

Two basic types of Data Types:

Integer ----like 1

Floating point number ---- like 1.0


With both we can perform basic airthmetic

In [1]:
1 + 1

2

In [2]:
1*3

3

In [4]:
1/2

0.5

Notice even with Integer we got floating number results

Note: for exponent just use double **

In [5]:
2**2

4

In [6]:
2**3

8

Python follows order of execution

In [7]:
2 + 3 * 5 + 2

19

In [8]:
(2+3)*(5+2)

35

Last one is the mod function:

Basically gives what we get as a remainder of a division

indicated by %

In [9]:
8%2

0

In [10]:
5%2

1

Lets jump to variable assignment

In python the assignment operator is equal(=) sign

In [11]:
var = 5

In [12]:
var

5

Note: Variable names don't start with numbers. Cannot start with special symbols either

In [13]:
##Strings

The above cell executed a comment. Anything with a # is a comment

Also, now we are gonna talk about strings

Two ways to create strings, 'single quotes' or "Double quotes"

In [15]:
"Hey I'm a string between double quotes"

"Hey I'm a string between double quotes"

Okay, now we will talk about printing strings!

In [16]:
x = 'hello'

In [17]:
x

'hello'

In [18]:
print(x)

hello

We don't have the out anymore and neither the single quotes. Can use this to actually print final results for users to absorb

Okay on that note let's check out some basic formating, just see and know what's happening

In [21]:
#userinput
age = 54
name = 'Arth'
country = 'India'

In [22]:
'Hello! My name is {} and my age is {} and I come from {}'.format(name,age,country)

'Hello! My name is Arth and my age is 54 and I come from India'

In [23]:
print('Hello! My name is {} and my age is {} and I come from {}'.format(name,age,country))

Hello! My name is Arth and my age is 54 and I come from India

Yep, you saw it we just passed variables and printed it!

Let's march towards indexing strings next!

Okay if we have a variable with string assigned

In [24]:
var = 'Zuko'

Basically here var is just a sequence of elements, with elements here being the letters. We can grab specific elements from the string using []. 

P.S. - Indexing begins at 0

In [25]:
var[0]

'Z'

now you can limit what you need using colons

In [28]:
var[0:] #everything post the index number

'Zuko'

In [29]:
var[:2] #everthing uptil the number

'Zu'

In [31]:
var[1:3] #ihope this made sense

'uk'

Let's talk about list baby, let's talk about you and me... who will learn it together !

In [32]:
[1,2,3] #list are just sequence of elements seperated by commas

[1, 2, 3]

In [33]:
['a','e']

['a', 'e']

In [34]:
my_newly_created_list = ['a','b','c']

In [35]:
my_newly_created_list

['a', 'b', 'c']

In [36]:
my_newly_created_list.append('d')

In [37]:
my_newly_created_list

['a', 'b', 'c', 'd']

In [38]:
my_newly_created_list[0]

'a'

In [40]:
my_newly_created_list[1:3] #note this doesnot include 3rd element

['b', 'c']

### That's about this session